<h1>Contact List App</h1>
<div class="interface">
	<h2>Show all the contacts</h2>
  <button id="all">Show all</button>
  <div class="contacts-container"></div>
  
  <h2>Create a new contact</h2>
  <form id = "new-contact" action='/contacts' method='POST'>
  	<p><label>Firstname:
  	<input id="firstname" type="text" name="firstname"></label></p>
  	<p><label>Lastname:
  	<input id="lastname" type = "text" name = "lastname"></label></p>
  	<p><label>Email:
  	<input id="email" type = "text" name = "email"></label></p>
  	<p><label>Phone Number:
  	<input id="phone_number" type = "text" name = "phone_number"></label></p>
  	<input id="submit-button" type = "submit" value = "submit">
  </form>

  <h2>Search for a contact</h2>
  <form id="search-form" action='/contacts/:id' method='GET'>
  	<p><label>Enter an ID number:
  	<input id="search-id" type="text" name="search-id"></label></p>
  	<input id="search-button" type="submit" value="search">
  </form>
  <div class="search-results"></div>
</div>

